DB_CONN=Host=your-rds-endpoint.rds.amazonaws.com;Port=5432;Database=docanalytics;Username=postgres;Password=YOUR_RDS_PW
JWT_KEY=your-32plus-char-jwt-key
JWT_ISSUER=DocAnalytics
JWT_AUDIENCE=DocAnalytics
AWS_BUCKET=your-bucket-name
AWS_REGION=ap-south-1
AWS_BEDROCK_REGION=us-east-1
AWS_MODEL_ID=us.amazon.nova-2-lite-v1:0
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
